# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=your_password
DATABASE_NAME=postnest

# Server Configuration

CLOUDINARY_NAME=develop
CLOUDINARY_API_KEY=xxxxxx7755546
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxx
